* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 1200px;
    margin: 0px auto;
}

.card {
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
    flex: 1;
}

.wide {
    flex: 1;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

#card-container {
    display: flex;
    gap: 36px;
}

.profile-images {
    width: 250px;
    margin: 15px;
    border: 5px solid black;
}

#red {
    border: 7px solid red;
}

#yellow {
    border: 7px solid rgb(211, 179, 0);
}

#green {
    border: 7px solid green;
}

.background-1 {
    background-color: rgb(112, 0, 0);
    color: white;
    padding: 10px 10px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.background-2 {
    background-color: rgb(170, 145, 0);
    color: white;
    padding: 10px 10px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.background-3 {
    background-color: rgb(0, 82, 0);
    color: white;
    padding: 10px 10px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}