* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h4 {
    border-bottom: 5px solid white;
    padding-bottom: 10px;
}

#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}

#sidebar .chapter {
    font-style: bold;
    font-size: 24px;
    margin: 15px 0px 15px;
}

#sidebar .edit {
    color: orange;
    font-style: italic;
    margin: 10px;
}

#sidebar .chapter.edit {
    color: red;
    margin: 15px 0px 15px;
}