/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it-yellow {
    background-color: rgb(255, 235, 120);
    display: inline-block;
    width: 250px;
    height: 250px;
    font-family:'Times New Roman', Times, serif;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    box-shadow: 4px 4px 8px black;
}

.post-it-blue {
    background-color: rgb(179, 237, 255);
    display: inline-block;
    width: 250px;
    height: 250px;
    font-family:'Times New Roman', Times, serif;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    box-shadow: 4px 4px 8px black;
}

.post-it-red {
    background-color: rgb(255, 167, 167);
    display: inline-block;
    width: 250px;
    height: 250px;
    font-family:'Times New Roman', Times, serif;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    box-shadow: 4px 4px 8px black;
}

.post-it-white {
    background-color: white;
    display: inline-block;
    width: 250px;
    height: 250px;
    font-family:'Times New Roman', Times, serif;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    box-shadow: 4px 4px 8px black;
}

.background-image {
    background-color: white;
    display: inline-block;
    width: 250px;
    height: 250px;
    font-family:'Times New Roman', Times, serif;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    box-shadow: 4px 4px 8px black;
}