* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.center-single-column {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#side-by-side-container {
    display: flex;
    align-items: center;
    gap: 36px;
}

#side-by-side-container img {
    width: 500px;
}

.card {
    border: 0.5px solid rgb(238, 238, 238);
    padding: 20px;
    text-align: center;
    margin: 10px 0px;
    flex: 1;
}

.card img {
    max-width: 250px;
}

#three-cards {
    display: flex;
    gap: 20px;
}

#text-center {
    text-align: center;
}

#bold {
    font-weight: bold;
}

.button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}