* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

/* Navbar */
#navbar {
    background: linear-gradient(
        to bottom,
        rgb(107, 106, 105),
        rgb(0, 0, 0)
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 18px;
    margin-right: 75px;
}

#navbar #logo-container {
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
}

/* Hero */
#centered-hero {
    background-image: url("../images/Hero-1.jpg");
    border: 5px solid white;
    height: 80vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10%;
}

#centered-hero .hero-content {
    color: white;
    /* background-color: rgba(245, 15, 15, 0.466); */
    padding: 21px 100px 35px 100px;
    border-radius: 10px;
    text-align: center;
}

.hero-content h1 {
    font-size: 75px;
    display: flex;
    max-width: 500px;
}

/* Gallery Layout */
#main-layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

#main-layout h1 {
    color: white;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.horizontal-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    /* border: 2px solid white; */
}

.horizontal-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
    border: 2px solid white;
}

#navbar-sub a:hover {
    background-color: rgb(255, 214, 126);
    border-radius: 100px;
}

#single-column {
    margin: 30px auto;
    align-items: center;
}

.card {
    /* border: 3px solid white; */
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    margin: 26px 100px;
    flex: 1;
}

.card h3 {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 22px;
}

#card-container {
    display: flex;
    gap: 36px;
    padding: 30px;
}

.cta-button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 36px;
    padding: 10px 14px;
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
    text-decoration: none;
}

.card .cta-button {
    background-color: black;
    color: white;
    border-radius: 36px;
    padding: 10px 64px;
    font-size: 16px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
    text-decoration: none;
}

/* Mobile Breakpoint */
@media screen and (max-width: 1625px) {

    body {
        background-color: black;
    }

    .card {
        border-radius: 16px;
        padding: 16px;
        margin: 16px 50px;
    }

    .card h3 {
        font-size: 14px;
        margin: 0px;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 1325px) {

    body {
        background-color: black;
    }

    .card {
        border-radius: 16px;
        padding: 16px;
        margin: 16px 50px;
    }

    .card h3 {
        font-size: 14px;
        margin: 0px;
        margin-bottom: 22px;
    }

    .card .cta-button {
        background-color: black;
        color: white;
        border-radius: 36px;
        padding: 10px 20px;
        font-size: 10px;
        font-weight: bold;
        min-width: 150px;
        text-align: center;
        margin-right: 14px;
        margin-left: 14px;
        text-decoration: none;
    }
}

@media screen and (max-width: 928px) {

    body {
        background-color: black;
    }

    .card {
        border-radius: 16px;
        padding: 16px;
        margin: 16px 50px;
    }

    .card h3 {
        font-size: 14px;
        margin: 0px;
        margin-bottom: 22px;
    }

    .card .cta-button {
        background-color: black;
        color: white;
        border-radius: 36px;
        padding: 10px 10px;
        font-size: 10px;
        font-weight: bold;
        min-width: 150px;
        text-align: center;
        margin-right: 5px;
        margin-left: 5px;
        text-decoration: none;
    }

    #navbar a {
        text-decoration: none;
        color: white;
        padding: 24px;
        font-size: 15px;
        margin-right: 50px;
    }
}